@media screen and (min-width: 768px) {
  body {
    background-color: red;
  }

  #uno {
    background-color: white;
  }

  #dos {
    background-color: green;
  }

  #tres {
    background-color: pink;
  }

  #cuatre {
    background-color: purple;
  }
