body{
  background-color: black;
}
.fachada{
  width: 200px;
  height: 200px;
  background-color: brown;
  position: absolute;
  left: 400px;
  top: 300px;
  border: solid 2px black;
}
.mon{
  width: 300px;
  height: 500px;
  background-color: #6A6463;
  position: absolute;
  top: 200px;
  clip-path: polygon(20% 0%, 79% 0, 100% 100%, 0% 100%);
}
#mon1{
  left: 300px;
  clip-path: polygon(20% 0%, 79% 0, 100% 100%, 0% 100%);
}
#mon2{
  left: 600px;
  clip-path: polygon(20% 0%, 79% 0, 100% 100%, 0% 100%);
}


.tejado{
  width: 250px;
  height: 70px;
  background-color: red;
  position: absolute;
  left: 375px;
  top: 230px;
  border: solid 4px black;
}
.ventana1{
  width: 50px;
  height: 50px;
  background-color: orange;
  position: absolute;
  left: 425px;
  top: 330px;
  border: solid 4px black;
}
.ventana2{
  width: 50px;
  height: 50px;
  background-color: orange;
  position: absolute;
  left: 515px;
  top: 330px;
  border: solid 4px black;
}
.puerta{
  width: 50px;
  height: 70px;
  background-color: yellow;
  position: absolute;
  left: 470px;
  top: 430px;
  border: solid 4px black;
}
#chimenea{
  width: 30px;
  height: 60px;
  background-color: brown;
  position: absolute;
  left: 550px;
  top: 170px;
  border: solid 4px black;

}
.humo{
  width: 100px;
  height: 100px;
  background-color: grey;
  opacity: 50%;
  border-radius: 50px;
  position: absolute;
  left: 520px;
  top: 70px;

}
.humo1{
  width: 100px;
  height: 100px;
  background-color: grey;
  opacity: 50%;
  border-radius: 50px;
  position: absolute;
  left: 550px;
  top: 20px;
}



.sol{
  width: 250px;
  height: 250px;
  background-color: white;
  filter: blur(2px);
  box-shadow: 0px 0px 50px 50px #D7D7D1;
  animation: sol infinite 3s;
  position: absolute;
  left: 1000px;
  top: 50px;
  border-radius: 100%;
}
@keyframes sol {
  from {top: 50px}
  to {top: 500px}

}
.base{
  width: 150%;
  height: 49%;
  background-color: green;
  position: absolute;
  top: 500px;
}
.valla1{
  width: 30px;
  height: 140px;
  background-color: brown;
  position: absolute;
  left: 80px;
  top: 364px;

}
.hojas{
  width: 100px;
  height: 100px;
  background-color: #0A6419;
  position: absolute;
  left: 45px;
  top: 320px;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}
.estrella{
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: solid 3px black;
  animation: estrella infinite 3s linear;
  position: absolute;
  left: 105px;
  top: 50px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@keyframes estrella {
  from {background-color: red;}
  to {background-color: pink;}
  from{left: 0px}
  to{left:600px}
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}

}

#pal{
background-color: #0A6419;
width: 100px;
height: 100px;
position: absolute;
left: 1000px;
top: 405px;
clip-path: inset(0 64% 0 10%);
}

.petal{
  background-color: #E2A4DB;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 975px;
  top: 376px;
  border-radius: 100% 0% 100% 0%;
}

#petal1{
  transform: rotate(90deg);
}



@keyframes flor {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}


#rodonaflor{
  background-color: #E2E1A4;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1000px;
  top: 400px;
  clip-path: circle(50% at 50% 50%);
}
