body{
  background-color: #28B2AC;
}

h1{
  color: #0BEEE4;
  text-align: center;
}

#contenidor{
  width: 200px;
  background-color: #0BEEE4;
  margin: 0 auto;
}

input{
  margin: 10px;
}

::-webkit-input-placeholder { color: #0F746F; }

.enviar{
  background-color: #0F746F;
  color: white;
}
