body{
  background-color: #77D4E3 ;
}
label{
  font-size: 18pt;
  color: white;
  }
h2{
  color: white;
  font-weight: bolder;
  font-size: 20pt;
}
#contenidor{
  width: 280px;
  height: 160px;
  background-color:#0BEEE4;
  margin: 0 auto;
  border-radius: 15px
}
h1{
  color: white;
}

.caixes{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}
.caixes1{
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 15px;
  text-align: left;
  font-size: 18pt;
  color: white;
  }


h1 {
  text-align: center;
}

input{
  margin: 10px;
}

.caixes{
  font-family: monospace;
  color: #0BEEE4;
}


::-webkit-input-placeholder { color: white; }

#contenidor1{
  width: 280px;
  height: 240px;
  background-color:#0BEEE4;
  margin: 0 auto;
  border-radius: 15px;
  float: left;
}
#contenidor2{
  width: 280px;
  height: 240px;
  background-color:#0BEEE4;
  margin: 0 auto;
  border-radius: 15px;
  float: left;
}
