body{
  margin: 0 auto;
  background-color: #FFFFA3;
}

.cor{
  width: 500px;
  height: 500px;
  background-color: #01BFEE;
  margin:0 auto;
  position: relative;
  top: 250px;
  transform: rotate(-45deg);
}

.cor:before{
  background-color: #01BFEE;
  width: 500px;
  height: 500px;
  content: '';
  transform: translateY(-250px);
  position: absolute;
  border-radius: 50%;
}

.cor:after{
  background-color: #01BFEE;
  width: 500px;
  height: 500px;
  content: '';
  transform: translatex(250px);
  position: absolute;
  border-radius: 50%;
}
